* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5;
}

.header {
    border: 2px solid black;
    display: grid;
    place-items: center;
}

.head-nav {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    width: 50rem;
}

.card-logo {
    border: 2px solid red;
}
.options-head {
    width: 40rem;
    display: flex;
    border: 2px solid green;
}


img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}