:root {
    --main-color: #1F2F3F;
    --main-two-color: #7AA93C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: center;
}
/* Primer nav */
.box-left {
    width: 100%;
    padding: 10px;
    display: grid;
    margin-top: 62px;
    background-color: var(--main-color);
    place-content: center;
}

.nav-left {
    width: 57rem;
    padding: 5px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.social-details {
    width: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-details a{
    font-size: 15px;
    color: white;
    background-color: var(--main-two-color);
    border-radius: 50%;
    padding: 8px;
}
.op-found {
    display: flex;
    justify-content: space-between;
    width: 37rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
}
.fa-phone, .fa-envelope, .fa-location-dot {
    margin-right: 6px;
}

/* Segundo nav */
.box-right {
    width: 100%;
    height: 3.8em;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 5;
}
.nav-right {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 57rem;
}

.card-logo {
    width: 12rem;
}
.menu-horizontal {
    width: 35rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.menu-horizontal .primary {
    color: black;
    position: relative;
    padding: 0 9px;

    transition: 0.3s;
}
.menu-horizontal .primary:after {
    content: "";
    position: absolute;
    background-color: var(--main-two-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;

    transition: 0.3s;
}
.menu-vertical {
    position: absolute;
    display: none;
    bottom: -240.7px;
    width: 105px;
    height: 240px;
    border-top: 3px solid var(--main-two-color);
    background-color: var(--main-color);
}
.menu-vertical li a {
    display: block;
    padding: 10px;
    color: white;
}
.secondary {
    padding-bottom: 25px;
}
.secondary .fa-chevron-down {
    margin-left: 5px;
    transition: all 0.3s ease-out;
}
.secondary .fa-chevron-down:hover {
    transform: rotateY(-180deg);
}

/* Bloque main */
.main {
    display: grid;
    place-items: center;
}
/*first body*/
.first-part{
    background-image: linear-gradient(rgba(4, 5, 9, 0.3),
    rgba(4, 5, 9, 0.4)), url(./pics/fond-textil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 35em;
    display: grid;
    place-items: center;
}

.one-box {
    width: 57rem;
    position: relative;
}
.descrip-left {
    width: 30rem;
    height: 18em;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.descrip-left h2 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
.descrip-left h1 {
    font-size: 3.4em;
    font-family: "Ubuntu Sans";
}
.p-one {
    font-family: 'Roboto';
    font-size: 13px;
}

.descrip-right {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 40px;
}
.initial-button {
    background-color: var(--main-two-color);
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Segoe UI';
    cursor: pointer;
    color: white;
}

.card-info {
    width: 70em;
    position: absolute;
    right: -100px;
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 20em;
    height: 10em;
    background-color: var(--main-color);
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.card .fa-solid {
    font-size: 25px;
    color: var(--main-two-color);
    margin-left: 15px;
}
.front-text {
    font-size: 15px;
    display: flex;
    width: 15em;
    height: 5em;
    flex-direction: column;
    justify-content: space-evenly;
}

/* second body */
.two-part {
    display: grid;
    place-items: center;
    width: 57em;
    height: 48em;
}
.two-box {
    display: flex;
    height: 30rem;
}

.card-preview {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.box {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}

.phto1 {
    top: 315px;
    left: 5px;
    width: 14em;
    height: 10em;
    z-index: 3;
}
.phto2 {
    top: 6px;
    right: 50px;
    width: 17em;
    height: 25em;
    z-index: 2;
}
.phto3 {
    width: 18em;
    height: 25em;
    border: 1px solid var(--main-two-color);
}

.card-descrip {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.descrip-up {
    height: 13em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tittle-h2 {
    color: var(--main-two-color);
    font-size: 16px;
}
.tittle-h1 {
    font-size: 40px;
    font-family: 'Roboto';
    color: #1D2F40;
}
.parrafo {
    text-align: justify;
    font-size: 13px;
    font-family: Helvetica;
    color: #757575;
}

.descrip-down {
    display: flex;
}
.my {
    width: 50%;
    padding: 0px 15px;
}
.subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Roboto';
    color: var(--main-color);
}
.vision {
    border-right: 1px solid var(--main-two-color);
}
.info-ame {
    display: flex;
    justify-content: space-evenly;
    font-family: Helvetica;
    font-size: 13px;
    color: #757575;
}
.fa-circle-check {
    margin-right: 10px;
    color: var(--main-two-color);
}

/* three part */
.three-part {
    background-image: linear-gradient(rgba(4, 5, 9, 0.2),
    rgba(4, 5, 9, 0.3)), url(./pics/fond_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 18em;
    display: grid;
    place-items: center;
}
.counter-info {
    margin: 0 auto;
    width: 57em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.counter-info h1 {
    width: 6em;
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 500;
}
.box-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 15px;
    font-size: 19px;
    font-family: Helvetica;

    transition: all 0.5s ease-in-out;
}
.box-counter
.fa-plus {
    color: var(--main-two-color);
    position: absolute;
    right: 45px;
    top: 10px;
}

/* four part */
.four-part {
    width: 57em;
    height: 54em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.service-info {
    height: 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.service-info .parrafo {
    text-align: center;
    width: 50em;
}
.box-areas {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.container {
    border: 1px solid var(--main-two-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3,0.5fr);
    padding: 25px;

    transition: 0.4s;
}
.img-area {
    width: 5em;
    margin-bottom: 20px;
    filter: invert(61%) sepia(51%) saturate(519%) hue-rotate(44deg) brightness(90%) contrast(84%);
}
.descrip-area {
    display: flex;
    flex-direction: column;
}
.descrip-area a {
    margin-top: 15px;
    color: var(--main-two-color);
    font-size: 12px;
    font-family: 'Helvetica';
}

/* five part */
.five-part {
    width: 100%;
    height: 10em;
    display: grid;
    place-items: center;
    background-color: var(--main-color);
}
.container-clients {
    /* border: 2px solid red; */
    margin: 0 auto;
    width: 57em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-client {
    width: 100px;
}

/* six part */
.six-part {
    width: 57rem;
    height: 44em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-caract {
    width: 56.8em;
    height: 18em;
    display: flex;
    justify-content: space-evenly;
}
.caract-box {
    width: 31em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.caract-porcent {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.porcent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.porcent li {
    border: 3px solid var(--main-two-color);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 5em;
    border-radius: 50%;
}
.porcent .tittle-h2 {
    color: var(--main-color);
    margin-top: 10px;
    font-size: 16px;
}
.caract-box .tittle-h1 {
    font-size: 37px;
}
.container-coments {
    margin-top: 20px;
}
.box-coments {
    border: 1px solid var(--main-two-color);
    border-radius: 8px;
    display: flex;
    height: 15em;
    position: relative;
    padding: 22px;
    flex-direction: column;
    align-items: center;
}
.card-person {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: -90px;
}
.card-person img {
    object-fit: cover;
}
.figure-person {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    overflow: hidden;
}
.icon-coments {
    width: 50px;
    filter: invert(61%) sepia(51%) saturate(519%) hue-rotate(44deg) brightness(90%) contrast(84%);
    margin-bottom: 25px;
}
.box-coments .parrafo {
    text-align: center;
    font-size: 16px;
}

.container:hover {
    border: 1px solid black;
}
.descrip-area a:hover {
    color: black;
}
.menu-horizontal a:hover
.menu-horizontal a.active {
    color: var(--main-two-color);
}
.menu-horizontal a:hover:after {
    width: 100%;
}
.menu-horizontal a:hover {
    color: var(--main-two-color);
}
.menu-horizontal li:hover .menu-vertical {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}