* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* html {
    font-size: 62.5;
} */

.header {
    border: 2px solid green;
    display: grid;
    place-items: center;
    height: 6.2rem;
}
/* Primer nav */

.box-left {
    border: 2px solid yellow;
    width: 100%;
    display: grid;
    background-color: #1F2F3F;
    place-content: center;
}

.nav-left {
    /* border: 2px solid red; */
    width: 50rem;
    height: 2.5rem;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.op-found {
    display: flex;
    justify-content: space-between;
    width: 37rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
}

.fa-solid, .fa-regular {
    margin-right: 6px;
}

/* Segundo nav */
.nav-right {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    border: 2px solid blue;
}

.card-logo {
    width: 10rem;
    /* border: 2px solid red; */
}
.options-head {
    width: 37rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Roboto";
    /* border: 2px solid green; */
}
.fa-chevron-down {
    margin-left: 5px;
    transition: all 0.5s ease-out;
}

a:hover {
    color: blue;
}
.fa-chevron-down:hover {
    transform: rotateY(-360deg);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}
