@import url('../styles/style.css');

:root {
    --main-color: #1F2F3F;
    --main-two-color: #7AA93C;
    --color-hover-button: #388E3C;

    --parrafo: "PT Sans";
    --tittle: "PT Serif";
}

.map {
    margin-top: 67px;
}

.container-part-contact-one {
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box-up-contact {
    margin: 40px 0 40px;
}
.up-info-contact {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.down-info-contact {
    display: flex;
    justify-content: space-evenly;
}
.card-contact {
    width: 16rem;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card-contact i {
    color: var(--main-two-color);
    font-size: 30px;
}
.card-contact .subtitle {
    font-size: 14px;
}
.shortcard-info {
    display: grid;
    gap: 10px;
}
.shortcard-info .tittle-h2 {
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
}
.shortcard-info li {
    font-size: 14px;
}

.box-down-contact {
    display: flex;
    justify-content: center;
}
.box-up-descrip {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.box-up-descrip .parrafito {
    margin: 20px 0 20px;
    width: 70%;
}
.formulario {
    padding: 25px 30px;
}
.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-box {
    margin-bottom: 5px;
    width: calc(100% / 2 - 20px);
}
.input-box-one {
    width: calc(100% / 1);
}
.details {
    display: block;
    font-weight: 500;
    margin: 20px 0 12px 0;
}
.input-box input {
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;

    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.input-box-one textarea {
    width: 100%;
    height: 10rem;
    resize: none;
    padding: 15px;
    outline: none;
    font-size: 16px;
    font-family: var(--parrafo);
    border-radius: 5px;
    border: 1px solid #ccc;

    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.box-button-form {
    margin: 20px 0;
}
.box-button-form button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    color: white;
}


.input-box input:focus {
    border-color: var(--main-two-color);
}
.input-box-one textarea:is(:focus, :valid) {
    border-color: var(--main-two-color);
}