@import url('./style.css');

:root {
    --main-color: #1F2F3F;
    --main-two-color: #7AA93C;
    --color-hover-button: #388E3C;

    --parrafo: "PT Sans";
    --tittle: "PT Serif";
}

body {
    height: 100vh;
}

.main {
    margin-top: 70px;
}

.part-us {
    width: 80rem;
    height: 36rem;
    /* border: 2px solid red; */
}

.s1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: radial-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url('/pics/procesos/fond-blur.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.s2 {
    color: white;
    background-color: var(--main-color);
}
.container-descrip {
    width: 15rem;
}
.container-descrip .tittle-h1 {
    font-size: 50px;
    color: white;
}
.container-descrip .fa-solid {
    font-size: 40px;
    color: var(--main-two-color);
    position: absolute;
    filter: brightness(1.75);
}
.fa-caret-up {
    top: 165px;
    left: 110px;
    transform: rotate(45deg);
}
.fa-caret-down {
    left: 120px;
    top: 145px;
    transform: rotate(45deg);
}

.container-animated {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
.card-slid {
    width: 8rem;
    cursor: crosshair;
    overflow: hidden;
    border-radius: 20px;

    transition: .5s ease-in-out;
}

.card-slid .layer {
    width: 100%;
    height: 50%;
    margin-top: -250px;
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}
.card-slid .layer .info {
    width: 260px;
    position: absolute;
    bottom: 10px;
    padding: 20px;
    opacity: 0;
    color: white;
}

.card-slid img {
    width: 100%;
    opacity: .8;
    object-fit: cover;
    background-repeat: no-repeat;
}

.card-slid:hover .layer .info {
    opacity: 1;
}
.info p {
    color: rgba(255, 255, 255, 0.75);
    margin-top: 5px;
}

.card-slid:hover {
    width: 80%;
    border-radius: 0;
}
.card-slid:hover img {
    opacity: 1;
    filter: contrast(120%);
    transform: scale(1.2);
}

