@import url('../styles/style.css');

:root {
    --main-color: #1F2F3F;
    --main-two-color: #7AA93C;
    --color-hover-button: #388E3C;

    --parrafo: "PT Sans";
    --tittle: "PT Serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin-top: 70px;
    border: 2px solid blue;
}
.part-sect {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid red;
}
.card-fond-left {
    width: 30rem;
}
.card-fond-right {
    width: 40rem;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
}
.module {
    width: 51rem;
    border: 2px solid black;
}
.descrip-box {
    margin-bottom: 20px;
    border: 2px solid blue;
}
.card-preview-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: 2px solid black; */
}
.card-process-img {
    width: 10rem;
}

